<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>API_KEY</key>
		<string>AIzaSyA4Fq81Q1fUvQxknRSZCA5QIWaW88R-NWQ</string>
		<key>GCM_SENDER_ID</key>
		<string>158857973352</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>br.com.skillo.cryptomatch</string>
		<key>PROJECT_ID</key>
		<string>crypto-match-de9c6</string>
		<key>STORAGE_BUCKET</key>
		<string>crypto-match-de9c6.firebasestorage.app</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:158857973352:ios:00a2f56e185df7bbd575dd</string>
		<key>CLIENT_ID</key>
		<string>158857973352-6numc4rpbm540v7bsmkg6rfnrk77b8gq.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.158857973352-6numc4rpbm540v7bsmkg6rfnrk77b8gq</string>
	</dict>
</plist>